.venv/
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python cache
store_sim/src/__pycache__/
**/__pycache__/

# Data & outputs
*.png
*.pdf
*.csv
*.txt
store_sim/src/*_report.txt
store_sim/src/algorithm_comparison.png
store_sim/data/EDA.ipynb

# GAN - Archivos pesados
checkpoints/*.pth
data/FashionMNIST/
*.gz
*.ubyte

# Logs
*.log

# Other directories
Grafos/
RNN/
